@page "/counter"
@using Aardworx.WebAssembly.BlazorComponent
@using BlazorDemo
<PageTitle>Counter</PageTitle>

<ElmComponent Initial="5" @ref="elm"></ElmComponent>


<button class="btn btn-secondary" @onclick="() => elm.Increment()">External HTML increment</button>

<button class="btn btn-secondary" @onclick="() => elm.Decrement()">External HTML decrement</button>
<button class="btn btn-secondary" @onclick="() => elm.Reset()">External HTML reset</button>

@code {

    ElmComponent elm;

}