type project
id Aardworx.WebAssembly
authors Aardworx
owners Aardworx
projectUrl http://github.com/aardworx/aardworx.webassembly
licenseUrl http://www.apache.org/licenses/LICENSE-2.0.txt
repositoryType git
repositoryUrl https://github.com/aardworx/aardworx.webassembly
description
    WebAssembly libraries for Aardvark
include-pdbs true
files
    Aardworx.WebAssembly.targets ==> build/
    Utilities/*.c ==> build/Utilities/