type project
id Aardworx.WebAssembly
authors Aardworx
owners Aardworx
projectUrl http://github.com/aardworx/aardworx.webassembly
licenseUrl http://www.apache.org/licenses/LICENSE-2.0.txt
repositoryType git
repositoryUrl https://github.com/aardworx/aardworx.webassembly
description
    WebXR utilities for Aardvark
include-pdbs true